.header {
  margin: 3rem;
}

.container {
  margin: 0 auto;
	padding: 3em 3rem 1rem 3rem;
  display: flex;
  justify-content: center;
  visibility: visible;
  @media (max-width: 800px) {
    visibility: hidden;
    display: block;
    height: 60px;
  }
  h4 {
    font-weight: 400;
    margin: 0.5rem 1rem;
  }

  a {
    color: #FFF;
    text-decoration: none;
    font-family: 'Krona One', sans-serif;
    font-size: 20px;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    @media (max-width: 1200px) {
      margin: 0;
    }
  }
  a:before, a:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

a:before {
    left: 0px;
    top: 0px;
}
a:after {
    right: 0px;
    bottom: 0px;
}
a:hover:before, a:hover:after {
  opacity: 1;
  width: 100%;
}

}

.nav-item {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.sidemenuVisible {
  display: none;
  @media (max-width: 800px) {
    display: block;
  }
}
